.CommentInput {
    padding: 10px;
}

.CommentInput__Avatar {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

.CommentInput__Field {
    line-height: 20px;

}

.CommentInput__Submit {

}