.Comment {
    padding: 10px;
    overflow: auto;
}

.Comment__UserName {
    font-weight: bold;
    margin-right: 10px;
}

.Comment__Avatar {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}