.FeedImage {
}

.FeedImage__Image {
    max-width: 100%;
}

.ViewComments__Wrapper {
    background-color: pink;
    display: flex;
    padding: 10px;
}

.ViewComments__UserName {
    font-weight: bold;

}

.ViewComments__UserComment {
    font-weight: normal;
    margin-left: 10px;
}

.FeedImage__Description {
    padding: 10px;
}

.FeedImage__DescriptionUserName {
    margin-right: 10px;
}

.FeedImage__ShowComments {
    color: #CCC;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.Toolbar__Wrapper {
    display: flex;
    padding-left: 10px;
}

.Toolbar__LikeBtn {
    padding: 10px;
}

.Toolbar__Likes {
    padding: 10px;

}