.UserHeader {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.UserHeader__Avatar {
  margin-right: 10px;

  
}

.UserHeader__AvatarImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.UserHeader__Name {
  line-height: 30px;
}
